.flex{
    display: flex;
    flex-direction: column;
}

.round{
    border-radius: 15px;
}

.width{
    width: 350px;
    height: 4vh;
    background: rgb(254, 251, 252);
}

.bold{
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}